<!-- <h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 -->

<!--<div class="login-background text-center" style="height: 100vh; padding: 15vh 0 0 40vh;">
<div class="background-box" style="background-color: rgba(0,0,0,0.5); height: 65vh; width: 100vh">
  <div style="display: block; clear:both; color:white;">
    <p style="font-size:70px;"> Browny </p><p style="font-size:35px;">Serves A Good</p><p style="font-size:65px;">Brownie</p>
  </div><br>-->
  <div class="text-center" style="padding-top: 35px;">
    <%= image_tag "mainpage", size: "300x300" %><br><br>
    <br>
  	<%= link_to user_facebook_omniauth_authorize_path do %>
  		<%= image_tag "login_fb", size: '250x50', class: "login-fb" %>
  	<% end %>
  </div>
	<!--</div>
</div>-->