<% if not @spot %>

<% end %>
<%= simple_form_for([@spot, @post]) do |f| %>
  <div class="form-group">
    <%= f.cktext_area :body, ckeditor: {:toolbar =>'mini'} %>
  </div>
  <div class="form-group">
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>
  <%= f.button :submit, class: 'btn btn-default'%>

<% end %>