<h2><%= @city.name %></h2>
위도 : <%= @city.latitude %><br>
경도 : <%= @city.longitude %>
<div class="text-right">
	<%= link_to 'Edit', edit_city_path(@city) %> | 
	<%= link_to 'Delete', city_path(@city), method: :delete %>
</div>
<hr>