<h4>My Spots</h4>
<% @spots.each do |spot| %>
	<% if spot.liked_users.include?(@user) %>
		<button class="btn btn-default" style="min-width:100%;">
			<%= link_to "#{spot.name}", spot_path(spot) %>
			<span class="label label-primary"><%= spot.place.city.name %></span>
			<span class="label label-success"><%= spot.place.name %></span>
			<span class="label label-info"><%= spot.category %></span>
		</button>
	<% end %>
<% end %>
<hr>
<h4>My Posts</h4>
<% @posts.each do |post| %>
	<% if post.liked_users.include?(@user) %>
		<button class="btn btn-default" style="min-width:100%;">
			<%= link_to "#{post.spot.name}", spot_post_path(post.spot, post) %><br>
			<%= post.body.html_safe %>
		</button>
	<% end %>
<% end %>
<hr>