<div class="container">
	<h2><%= @place.name %></h2>
	소속 도시 : <%= @place.city.name %><br>
	위도 : <%= @place.latitude %><br>
	경도 : <%= @place.longitude %><br>
	picture : <%=image_tag(@place.picture)%>
	<div class="text-right">
		<%= link_to 'Go to places', places_path %> | 
		<%= link_to 'Edit', edit_place_path(@place) %> | 
		<%= link_to 'Delete', place_path(@place), method: :delete %>
	</div>
	<hr>
	<h4>Spots in <%= @place.name %></h4>
	<% @place.spots.each do |spot| %>
		<div class="well">
			<strong><%= link_to "#{spot.name}", spot_path(spot) %></strong><br>
		</div>
	<% end %>
	<%= link_to "#{@place.name} spot 작성", new_spot_path %>
</div>
