<h2><%= @place.name %></h2>

<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 300px;'></div>
</div>
소속 City : <%= link_to @place.city.name, city_path(@place.city) %><br>
picture : <%=image_tag(@place.picture)%>
<div class="text-right">
	<%= link_to 'Go to places', places_path %> | 
	<%= link_to 'Edit', edit_place_path(@place) %> | 
	<%= link_to 'Delete', place_path(@place), method: :delete %>
</div>
<hr>
<p>
	<strong>Spots in <%= @place.name %></strong> | 
	<%= link_to "#{@place.name} spot 작성", new_place_spot_path(@place) %>
</p>
<% @place.spots.each do |spot| %>
	<div class="col-md-6 col-lg-6 col-sm-6">
		<%= link_to spot_path(spot) do %>
			<div class="thumbnail text-center" style="height: 100px;">
				<strong><%= spot.name %></strong>
			</div>
		<% end %>
	</div>
<% end %>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(<%=raw @hash.to_json %>);	  	
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	  handler.getMap().setZoom(10);
	});
</script>
