<div class="row">
	<div class="text-center">
		<% if params[:place_id] %>
			<%= link_to 'All', place_spots_path(@place_id), class: "navbar-link-box navbar-link-box-all" %>
		<% elsif @colorbar_mypage %>
			<%= link_to 'All', mypage_path, class: "navbar-link-box navbar-link-box-all" %>
		<% elsif @colorbar_map %>
			<%= link_to 'All', map_path, class: "navbar-link-box navbar-link-box-all" %>
		<% else %>
			<%= link_to 'All', spots_path, class: "navbar-link-box navbar-link-box-all" %>
		<% end %>
		
		<!-- <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"> -->
		
		<% @spot_categories = Spot.categories.keys %>
		<% @spot_categories.each do |category| %>
			<% if params[:place_id] %>
				<%= link_to "#{category}", "/places/#{@place_id}/spots/category/#{category}", class: "navbar-link-box navbar-link-box-#{category}" %>
			<% elsif @colorbar_mypage %>
				<%= link_to "#{category}", "/mypage/#{category}", class: "navbar-link-box navbar-link-box-#{category}" %>
			<% elsif @colorbar_map %>
				<%= link_to "#{category}", "/map/#{category}", class: "navbar-link-box navbar-link-box-#{category}" %>
			<% else %>
				<%= link_to "#{category}", "/spots/category/#{category}", class: "navbar-link-box navbar-link-box-#{category}" %>
			<% end %>
		<% end %>
	</div>
</div>