
<nav class="text-center" style="height: 70px; width: 100%; border-bottom: 1px solid black; padding-top: 7px; position:fixed; background-color: white; z-index: 1">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<%= image_tag "search", size: "20x20" %>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<%= link_to cities_path do %>
					<%= image_tag "cities", size: "20x20" %>
				<% end %>	
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<%= link_to map_path do %>
					<%= image_tag "map", size: "20x20" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-0">
				<%= image_tag "heart", size: "20x20" %>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
	</div>
	<div class="row text-center" style="margin-top: 15px;">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">	
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<%= link_to 'All', spots_path %>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<% @spot_categories = Spot.categories.keys %>
				<% @spot_categories.each do |category| %>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<%= link_to "#{category}", "/spots/category/#{category}" %>
					</div>
				<% end %>
			</div>
			
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
	</div>
</nav>
