<div class="row">
	<div class="navbar-link-icon">
		<%= link_to image_tag("home", size: "20x20"), root_path %>
	</div>
	<div class="navbar-link-icon">
		<%= link_to image_tag("cities", size: "20x20"), cities_path %>
	</div>
	<div class="navbar-link-icon">
		<%= link_to image_tag("search", size: "20x20"), root_path %>
	</div>
	<div class="navbar-link-icon">
		<%= link_to image_tag("map", size: "20x20"), map_path %>
	</div>
	<div class="navbar-link-icon">
		<%= link_to image_tag("heart", size: "20x20"), mypage_path %>
	</div>
</div>
<hr style="margin:7px 0 0;">
