<nav class="text-center" style="height: 40px; width: 100%; border-bottom: 1px solid black; padding-top: 7px; position:fixed; background-color: white; z-index: 1">
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
	<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<%= image_tag "search", size: "20x20" %>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<%= link_to cities_path do %>
				<%= image_tag "cities", size: "20x20" %>
			<% end %>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<%= image_tag "map", size: "20x20" %>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-0">
			<%= image_tag "heart", size: "20x20" %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
</nav>
