<!DOCTYPE html>
<html>
  <head>
    <title>Browny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container">
        <%= link_to 'Main', root_path %>
        <%= link_to 'Spots', spots_path %>
        <%= link_to 'Posts', posts_path %>
      <div class="text-right">
      	<% if user_signed_in? %>
          <%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %>
          <%= current_user.name %>
      		<%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
      	<% else %>
          <%= link_to  "Facebook으로 로그인", user_facebook_omniauth_authorize_path %>
      	<% end %>
      </div>
      <br>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
